.page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  box-sizing: border-box;
}
.nav__logo {
  height: 40px; /* Adjusted per instructions */
  display: flex;
  justify-content: flex-start;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 128px;
}

.nav__links {
  display: flex;
  list-style: none; /* Adjusted per instructions */
  column-gap: 16px; /* Adjusted per instructions */
  margin: 8px 0 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  padding-right: 25px;
}

.header__title {
  max-width: 580px; /* Adjusted per instructions */
  font-size: 64px; /* Adjusted per instructions */
  line-height: 72px; /* Adjusted per instructions */
  font-weight: 600; /* Adjusted per instructions */
  color: #000000;
}

.header__description {
  max-width: 532px;
  font-size: 16px; /* Adjusted per instructions */
  line-height: 20px; /* Adjusted per instructions */
  flex-wrap: wrap;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  color: #e96e3a;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

ul, .nav__links {
  display: flex;
  list-style: none;
  margin: 8px 0 0;
  justify-content: flex-end;  
  padding-bottom: 90px;
  
}

.nav__links {
  display: flex;
  list-style: none;
  margin: 8px 0 0;
  justify-content: flex-end;  
  padding-bottom: 75px;
}

.nav__link {
  display: flex;
  justify-content: flex-end;
  color: #000000;
  text-decoration: none;
  font-weight: 8px;
  padding-right: 30px;
  justify-content: flex-end;

}